"use client";

import { ReactNode } from "react";
import styles from "./{{ pascalCase name }}.module.css";

type {{ pascalCase name }}Props = {
  children?: ReactNode;
  className?: string;
}

export const {{ pascalCase name }} = ({ children, className }: {{ pascalCase name }}Props) => {
  return (
    <div className={className}>
      {children}
    </div>
  );
};
